{% load bootstrap5 %}
{% load currency_extra %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<div class="col-md-5">
    <h2>{{ error }}</h2>
    <ul class="list-group">
        <a href="{% url 'exchange_rates' %}" class="list-group-item list-group-item-action active">Переглянути курс
            валют в Json</a>
        {% for rate in rates %}
            <li class="list-group-item">
                provider name: {{ rate.provider }} date: {{ rate.date }}
                from: {{ rate.currency_from | humanize_currency }} - to: {{ rate.currency_to | humanize_currency }}
                sell: {{ rate.sell | floatformat:2 }} - buy: {{ rate.buy | floatformat:2 }}
            </li>
            </ul>
        {% endfor %}
</div>
<p></p>
<div>
{% if not error %}
    <div class="col-md-2 offset-md-1">
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary offset-md-1">
                        {{ button }}
                        Submit
                    </button>
                {% endbuttons %}
        </form>
    </div>
    <div class="col-md-5">
        {% if result %}
            <li class="list-group-item ">За {{ suma }} {{ currency_sell | symbolize_currency }} ви
                отримали {{ result }} {{ currency_buy | symbolize_currency }}</li>
        {% endif %}
    </div>
{% endif %}
</div>
