<div class="info">
    <h2><a href="{% url 'exchange_rates' %}">Переглянути курс валют в Json</a></h2>
    <h2>{{ error }}</h2>
    {% for rate in rates %}
        <li>
            {{ rate.provider }} {{ rate.date }}
            {{ rate.currency_from }} - {{ rate.currency_to }}
            {{ rate.sell }} - {{ rate.buy }}
        </li>
    {% endfor %}
</div>
<div class="calculator">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {% if not error %}
            <input type="submit" value="Обміняти">
        {% endif %}
        {{ result }}
    </form>
</div>
